.landing-page {
  background-image: url('./image/bingleBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  --background: none;
}

.button-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-button {
  --border-radius: 8px !important;
  margin-bottom: 16px;
  /* margin-left: 16px;
  margin-right: 16px; */
}

.landing-footer {
  padding-bottom: 16px !important;
  text-align: center;
  position: fixed;
}
.footer-title {
  font-size: 12px;
  --color: #fff;
}

.log-in-button {
  --background: transparent;
  --background-activated: #f5cd34;
  --background-activated-opacity: 0.7;
  border: 2px solid #fff;
  border-radius: 8px !important;
  text-decoration: underline;
  --color: #fff;
}

.sign-up-button {
  --background: #f5cd34;
  --color: #121212;
  --background-activated: #fff;
  --background-activated-opacity: 0.7;
  --ripple-color: #f5cd34;
}

#bingle-logo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.landing-blurb-container {
  text-align: center;
  color: #fff;
}

.center-items {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

