ion-content ion-toolbar {
  --background: translucent;
}

#login-screen {
  --background: #f5cd34 !important;
}

.login-title {
  margin: 8px 24px;
  padding-top: 35%;
  left: 0;
  right: 0;
  color: #121212;
  font-size: 32px;
}
#login-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 16px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #fff;
  background: #fef9f8;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

.toolbar-background {
  --background: #f5cd34;
  --border-color: #f5cd34;
}

.back-button-icon {
  --color: #fff;
}
