IonSlides {
  height: 100%;
}

.onboarding-container {
  --background: #fff;
}

.slide {
  display: block;
  padding-top: 40px;
}

.slide h2 {
  margin-top: 0.25rem;
  color: #121212;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

.slide p b {
  font-weight: 500;
  text-decoration: underline solid #f5cd34;
}

.slide p {
  padding: 0 40px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

.slide p b {
  color: #121212;
}

.start-button {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 2rem;
}
