.back-button-container {
  background: #f39c92;
  padding: 16px;
}
.behind-background {
  background: #f39c92;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 250px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.user-view-image {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

.user-view-card {
  top: 20%;
  z-index: 1;
  /* transform: translateY(-50%); */
}

.project-section {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contact-button {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
